<html>
    <head>
        <title>Instructions</title>
    </head>
    <body>
        <p>In this task, you will be presented with blog posts. You will be asked to rate the extent to which each blog post captures your attention. The sentences will be on the screen for approximately 15 seconds.</p>
        <button id="submit" onclick="location.href='{{.Host}}/question/1?session={{.Session}}';">Got it</button>
    </body>
</html>
<style>
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.25em;
    }
    body {
        padding: 7.5% 20% 0 20%;
    }

    button {
        cursor: pointer;
        font-size: 0.75em;
        padding: 0;
        border: none;
        background: none;
        border-radius: 5px;
        width: 65px;
        height: 40px;
        float: right;
        background-color: #339966;
        color: white;
        box-shadow: 0 0 0 0;
    }