<html>
    <head>
        <title>Instructions</title>
    </head>
    <body>
        <h3>Now we will ask you questions about general political news and political processes.</h3>
        <br />
        <h3>Please respond with what you believe is the correct answer. You will <strong>NOT</strong> be penalized for incorrect answers, so please do not search the internet for the correct answers.</h3>
        <button id="submit" onclick="location.href='http://localhost:8080/knowledge_questions/majorities';">Continue</button>
    </body>
</html>