<html>
    <head>
        <title>Instructions</title>
    </head>
    <body>
        <p>Now we will ask you questions about the information that was presented to you in the blog posts.</p>
        <br />
        <p>You will&nbsp;
            <strong>NOT</strong>
            &nbsp;be penalized for incorrect answers, so please do not search the internet for the correct answers. Please respond with an estimate to each question.&nbsp;
            <strong>Even if you don&#39;t remember the actual answer, it is important that you make a guess. Please don&#39;t leave the boxes blank.</strong>
        </p>
        <button id="submit" onclick="location.href='http://localhost:8080/recall_question/1';">Got it</button>
    </body>
</html>