<html>
    <head>
        <title>Recall</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
        <p>According to one of the blog posts, {{.Text}}</p>
        <input type="text" id="statistic"></input>
        <button id="submit">Continue</button>
    </body>
</html>
<script type="text/javascript">
    document.getElementById('submit').addEventListener('click', e => {
        let text = document.getElementById('statistic').value;
        if (!text || text === '') {
            alert('Please enter a response before moving on.');
            return;
        }

        $.post('http://localhost:8080/report_recall_statistic', text);

        let statistic = encodeURI(text);
        window.location.href = 'http://localhost:8080/recall_strength/{{.Number}}';
    })
</script>